form {
	max-width: 450px;
	padding: 3rem 0;
	margin-top: 1rem;
	position: relative;

	.error-container {
		position: absolute;
		top: 0;
	}

	.label {
		color: rgba(0, 0, 0, 0.6);
		font-size: 0.8rem;
	}

	.message-types {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.5rem;
	}

	.mat-form-field {
		display: block;
		margin-bottom: 1rem;
	}

	.controls {
		text-align: right;
	}
}
