<ng-container *transloco="let t;">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Form errors -->
    <div class="error-container">
      <mat-error *ngIf="form.get('spatial').touched && form.get('spatial').errors?.requiredOneOfGroup">
        {{t('requiredOneOfGroup')}}
      </mat-error>
      <mat-error *ngIf="form.get('messageTypes').touched && form.get('messageTypes').errors?.selectedOneOfArray">
        {{t('selectedOneOfArray')}}
      </mat-error>
    </div>

    <mat-label class="label">{{t('messageTypes')}}</mat-label>
    <section class="message-types" formArrayName="messageTypes">
      <ng-container *ngFor="let messageType of messageTypes.controls; let i=index">
        <ng-container [formGroupName]="i">
          <mat-checkbox formControlName="selected">
            {{messageType.get('name').value}}
          </mat-checkbox>
        </ng-container>
      </ng-container>
    </section>

    <ng-container formGroupName="spatial">
      <mat-form-field>
        <mat-label>{{t('airports')}}</mat-label>
        <input matInput formControlName="airports">
        <mat-error *ngIf="airports.touched && airports.errors?.pattern">
          {{t('patternAirports')}}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{t('countries')}}</mat-label>
        <input matInput formControlName="countries">
        <mat-error *ngIf="countries.touched && countries.errors?.pattern">
          {{t('patternCountries')}}
        </mat-error>
      </mat-form-field>
    </ng-container>

    <div class="controls">
      <button mat-flat-button color="primary" type="submit">{{t('submit')}}</button>
    </div>
  </form>
</ng-container>