<ng-container *transloco="let t;">
  <ng-container *ngIf="(loading$ | async) !== true; else loading">
    <ng-container *ngIf="(error$ | async) !== true; else error">
      <div *ngIf="!groupedReports">
        {{t('empty')}}
      </div>

      <div *ngFor="let group of groupedReports | keyvalue">
        <table>
          <thead>
            <tr>
              <th colspan="3">{{group.key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let report of group.value">
              <td>{{report.queryType}}</td>
              <td>{{report.reportTime | date: 'd.M.yyyy HH:mm:ss':'UTC+02' }}</td>
              <td>{{report.text}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #error>
    <div>{{t('error')}}</div>
  </ng-template>
</ng-container>