<ng-container *transloco="let t;">
  <ng-container *ngIf="(loading$ | async) !== true; else loading">
    <ng-container *ngIf="(error$ | async) !== true; else error">
      <div *ngIf="!groupedReports">
        {{t('empty')}}
      </div>

      <div *ngFor="let group of groupedReports | keyvalue">
        <h2>{{group.key}}</h2>
        <div *ngFor="let item of group.value">
          {{item.queryType}}
          {{item.reportTime | date: 'd.M.yyyy HH:mm:ss':'UTC+02' }}
          {{item.text}}
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>

  <ng-template #error>
    <div>{{t('error')}}</div>
  </ng-template>
</ng-container>